.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    gap: 0.2rem;
    width: 500px;
    height: 500px;
    background: black;
    border-radius: 5%;
    grid-template-areas:
        "r0-c0 r0-c1 r0-c2 r0-c3 r0-c4 r0-c5 r0-c6 r0-c7 r0-c8 r0-c9"
        "r1-c0 r1-c1 r1-c2 r1-c3 r1-c4 r1-c5 r1-c6 r1-c7 r1-c8 r1-c9"
        "r2-c0 r2-c1 r2-c2 r2-c3 r2-c4 r2-c5 r2-c6 r2-c7 r2-c8 r2-c9"
        "r3-c0 r3-c1 r3-c2 r3-c3 r3-c4 r3-c5 r3-c6 r3-c7 r3-c8 r3-c9"
        "r4-c0 r4-c1 r4-c2 r4-c3 r4-c4 r4-c5 r4-c6 r4-c7 r4-c8 r4-c9"
        "r5-c0 r5-c1 r5-c2 r5-c3 r5-c4 r5-c5 r5-c6 r5-c7 r5-c8 r5-c9"
        "r6-c0 r6-c1 r6-c2 r6-c3 r6-c4 r6-c5 r6-c6 r6-c7 r6-c8 r6-c9"
        "r7-c0 r7-c1 r7-c2 r7-c3 r7-c4 r7-c5 r7-c6 r7-c7 r7-c8 r7-c9"
        "r8-c0 r8-c1 r8-c2 r8-c3 r8-c4 r8-c5 r8-c6 r8-c7 r8-c8 r8-c9"
        "r9-c0 r9-c1 r9-c2 r9-c3 r9-c4 r9-c5 r9-c6 r9-c7 r9-c8 r9-c9";
}

.tile {
    transition: all 200ms ease;
    border-radius: 5%;
    perspective: 1000px;

    /* This container is needed to position the front and back side */
    &-inner {
        position: relative;
        border-radius: 5%;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.2s ease;
    }

    /* Do a horizontal flip when you move the mouse over the flip box container */
    &:hover &-inner {
        //transform: rotateY(180deg);
        transform: scale(1.1) perspective(1px);
        //background-color: yellowgreen;
    }

    &-front:hover {
        background-color: yellowgreen;
    }

    /* Position the front and back side */
    &-front,
    &-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    &-front {
        border-radius: 5%;
        background-color: green;
        color: black;
    }

    /* Style the back side */
    &-back {
        border-radius: 5%;
        background-color: green;
        color: white;
        transform: rotateY(180deg);
    }
}

.number {
    place-self: center;
    font-size: x-large;
    color: white;
}
