.fiche {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 10%;
    animation: fadeIn 300ms,
               shine 4800ms cubic-bezier(.12, .89, .98, .47);

    &-black {
        outline: solid white 2px;
        background-color: black;
    }

    &-white {
        outline: solid black 2px;
        background-color: white;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shine {
    from {
        background-repeat: no-repeat;
        background-image: -webkit-linear-gradient(top left,
                rgba(255, 255, 255, 0.0) 0%,
                rgba(255, 255, 255, 0.0) 45%, rgba(255, 255, 255, 0.5) 48%,
                rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.5) 52%,
                rgba(255, 255, 255, 0.0) 57%, rgba(255, 255, 255, 0.0) 100%);
    }

    to {
        background-repeat: no-repeat;
        background-position: 250px 250px;
    }
}