.fiche {
    --background: linear-gradient(45deg, black 50%, white 50%);
    border-radius: 50%;
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 10%;
    overflow: hidden;

    &-black {
        outline: solid white 2px;
        background-image: var(--background);
        background-size: 300%;
        background-position: left;
    }

    &-white {
        outline: solid black 2px;
        background-image: var(--background);
        background-size: 300%;
        background-position: right;
    }

    &-animationWhite {
        animation: whiteToBlack 0.4s ease-in;
    }

    &-animationBlack {
        animation: blackToWhite 0.4s ease-in;
    }
}

@keyframes whiteToBlack {
    0% {
        background-position: left;
    }
}

@keyframes blackToWhite{
    0% {
        background-position: right;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
