<div class="board">
    <!-- tiles -->
    {{#each this}}
    {{#each this}}
    <div class="tile"
        style="grid-area:r{{addCell @index 1}}-c{{addCell @../index 1}}; {{#if this}} pointer-events: none; {{/if}}">
        <div class="tile-inner">
            <div class="tile-front"></div>
            <!-- als de 'this' waarde 0 is, oftewel geen fiche, dan is dit false en wordt er geen fiche toegevoegd -->
            {{#if this}}
            <figure class="fiche fiche-{{getColor this}}"></figure>
            {{/if}}
            <div class="tile-back"></div>
        </div>
    </div>
    {{/each}}
    {{/each}}
</div>